.header{
    text-align: center;
    margin: 30px;
    font-size: 2.5rem;
    font-family:monospace;
    text-decoration: underline;
    color:   #d9534f;
}

.btn{
    margin: 20px;
    align-items: center;
    margin-left: 25%;
    margin-right: 50%;
    width: 50%;
    background:  #d9534f;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
    background-color: #3B71CA;
    color: #FBFBFB;
}

.newsHeaders{
    color: #3B71CA;
}